<head>

<script type='text/javascript'>

$(function() {
$('#btnSubmit').click(function(){
var val2 = $("#ringcaptcha_pin_code").val();
if(val2.length == 0)
{
  alert("Please enter pin code");
}else if(val2.length < 4)
{ 
  alert("Please enter 4 digit pin code");

}else
{
  $.ajax({
    type: 'post',
    url: '/homes/valid_rc',
    data: 'param1='+ $("#ringcaptcha_pin_code").val() + '&params2='+$("#ringcaptcha_session_id").val(),
    success: function(data) {
    }
});
}

});
});
</script>
</head>
<div data-widget data-app="apo8amopuco7onaku5u7" data-locale="en"></div>
<input id = "btnSubmit" type="submit" value="Check RC"/>
<div id='info'></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type='text/javascript' charset='UTF-8' src="//cdn.ringcaptcha.com/widget/v2/bundle.min.js"></script>
